{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}


{% block content %}

<h1>ようこそ DEKIRU へ!</h1>
<br><br>
<text>
Япония – одна из самых удивительных стран мира, с уникальными обычаями и традициями, которые сочетаются с высокими технологиями.
Многие люди приступили к изучению японского языка после чтения манги и просмотра аниме. Но не только аниме и манга привлекли к изучению. Существует большое количество японских игр на ПК, на Sony Plastation, благодаря которым геймеры тоже проявили свой интерес к японскому языку.
Различные фестивали и праздники Японии известны своим размахом и притягивают внимание людей со всего света
</text>
<br><br>
<text>
Мы предлагаем Вам окунуться в эту удивительную страну и её язык, который, при всей своей сложности, является крайне интересным в изучении.
</text>

<img src="static/japanese/images/logopng.png" alt="lorem">

{% endblock %}