{% extends 'base.html' %}

{% block title %}{{lesson.title}}{% endblock %}

{% block content %}

<h2>{{lesson.id}}  {{lesson.title}}</h2>

<p>Текст урока</p>

<hr>

<details>
    <summary>Слова</summary>
    <p></p>
    {% if word_list %}
        <table border="1">
            <tr>
                <th>Слово</th>
                <th>Транскрипция</th>
                <th>Перевод</th>
                <th>Часть речи</th>
                <th>Урок</th>
            </tr>
            {% for w in word_list %}
            <tr>
                <td>{{w.word_name}}</td>
                <td>{{w.transcription}}</td>
                <td>{{w.word_translation}}</td>
                <td>{{w.speechpart_id}}</td>
                <td>{{w.lesson_id}}</td>
            </tr>
            {% endfor %}
        </table>
        

    {% else %}
    ГДЕ СЛОВА
    {% endif %}

</details>

<p></p>

{# <p><a href="{% url 'lessons:task_detail' b.id %}">{{b.id}}</a></p> #}
<form action="/lessons/{{lesson.id}}/tasks/{{task.id}}" > 
    <button type="submit">Click</button>
</form> 

{% endblock %}