{% extends 'base.html' %}

{% block title %}Удалить урок{% endblock %}


{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Удалить урок</legend>
                <h2>Вы уверены, что хотите удалить урок {{ object.title }}?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Да, удалить</button>
                <a class="btn btn-outline-secondary" href="{% url 'lessons:lesson-detail' object.id %}">Отмена</a>
            </div>
        </form>
    </div>

{% endblock %}