{% extends 'base.html' %}

{% block title %}Уроки{% endblock %}

{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <h2>Список уроков:</h2>
            <br>
            <br>
            {% if lessons_list %}

                {% for les in lessons_list %}
                    <p><a href="{% url 'lessons:lesson-detail' les.id %}">{{les.lesson_num}}  {{les.title}}</a></p>
                {% endfor %}

            {% else %}
                Уроки не найдены
            {% endif %}
        </div>
    </article>

{% endblock %}